{% extends "base.html" %}

{% block content %}
<h1>Signup Form</h1>

<form action="/submit" method="post">
    <div>
        <label>
            Username
            {% if username %}
            <input type="text" name="username" value={{username}} />
            {% else %}
            <input type="text" name="username" />
            {% endif %}
        </label>
    </div>
    {% if username_error %}
    <div class="error">
        {{ username_error }}
    </div>
    {% endif %}
    <div>
        <label>
            Password
            <input type="password" name="password" />
        </label>
    </div>
    {% if password_error %}
    <div class="error">
        {{ password_error }}
    </div>
    {% endif %}
    <div>
        <label>
            Verify Password
            <input type="password" name="vpass" />
        </label>
    </div>
    {% if verify_password_error %}
    <div class="error">
        {{ verify_password_error }}
    </div>
    {% endif %}
    <div>
        <label>
            Email (optional)
            {% if username %}
            <input type="text" name="email" value={{email}} />
            {% else %}
            <input type="text" name="email" />
            {% endif %}
        </label>
    </div>
    {% if email_error %}
    <div class="error">
        {{ email_error }}
    </div>
    {% endif %}
    <div>
        <input type="submit" value="submit"/>
    </div>
</form>

{% endblock %}